$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
$primary-color: #339B2C;
$secondary-color: lighten($primary-color, 40%);
$tablet-vertical: "only screen and (max-width : 768px)";
$error: #a94442;
